@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&family=Poppins:wght@600&family=Roboto:wght@400;500;700;900&family=Russo+One&display=swap');
@import url('./components/header.css');
@import url('./components/about-us.css');
@import url('./components/combat-path.css');
@import url('./components/quote.css');
@import url('./components/symbol.css');
@import url('./components/concept.css');
@import url('./components/fond.css');
@import url('./components/footer.css');
@import url('./components/logo-open.css');
@import url('./components/help.css');

:root {
  /* colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-liteGray: #c2c2c2;
  --color-midGray: #595959;
  --color-darkGray: #262626;
  --color-red: #df2e38;

  /* fonts */
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-russo: 'Russo One', sans-serif;
}

.main {
  background-color: var(--color-darkGray);
}

.backgraund {
  background: linear-gradient(
    94.71deg,
    rgba(38, 38, 38, 0.49) -40.88%,
    rgba(69, 54, 55, 0.43) 40.38%,
    rgba(107, 25, 30, 0.47) 97.08%
  );
  mix-blend-mode: difference;
}

@media (max-width: 425px) {
  .backgraund {
    background: linear-gradient(90deg, #1d1919 2.56%, #541e1e 100%);
    mix-blend-mode: revert;
  }
}

/* general css */
.container {
  max-width: 1280px;

  padding: 0 30px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1105px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .container {
    padding: 0 10px;
  }

  .wrapper {
    padding: 0;
  }
}

.card-short {
  height: 880px;
}

@media (max-width: 720px) {
  .card-short {
    height: 980px;
  }
}

.center {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-25 {
  margin-top: 25px;
}

.block32 {
  height: 32px;
}

.container-margin-12 {
  margin: 0 12px;
}

/* title above section  */

.title-item {
  max-width: 555px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 425px) {
  .title-item {
    display: none;
  }
}

.iconbg {
  mix-blend-mode: color-dodge;
  background-color: var(--color-darkGray);
}

.icon-row {
  position: relative;
  top: -30px;
  left: -111px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title-item h1 {
  margin-left: 12px;

  font-family: var(--font-russo);
  font-weight: 400;
  font-size: 60px;
  line-height: 45px;
  color: var(--color-white);
}

.title-secondrow {
  padding-left: 118px;

  position: relative;
  top: 20px;
}

/* button */

.button-help {
  width: 267px;
  height: 70px;

  background: #f7f7f7;
  border: 1px solid #000000;

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 40px),
    calc(100% - 60px) 100%,
    0 100%
  );

  font-family: var(--font-roboto);

  font-weight: 800;
  font-size: 18px;
  line-height: 27px;

  text-align: center;
  letter-spacing: 0.629167px;
  text-transform: uppercase;

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.45));

  transition: transform 0.1s ease-in-out;
}

.button-help:active {
  transform: translateY(3px);
}

.button-join {
  width: 267px;
  height: 70px;

  background: #df2e38;
  border: 1px solid #000000;

  font-family: var(--font-roboto);

  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-white);

  text-align: center;
  letter-spacing: 0.629167px;
  text-transform: uppercase;

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.45));

  transition: transform 0.1s ease-in-out;
}

.button-join:active {
  transform: translateY(3px);
}

/* mobile */

.mobile-title-container {
  margin-top: 32px;
  position: relative;

  display: none;
}

@media (max-width: 425px) {
  .mobile-title-container {
    display: block;
  }
}

.mobile-title-item {
  margin-top: 42px;

  display: none;
  max-width: 396px;

  height: 100px;
  mix-blend-mode: darken;

  border-radius: 8px;
}

.mobile-title-item-text {
  position: absolute;
  top: 30px;

  font-family: var(--font-russo);
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  color: white;
}

.mobile-title-item-text-duble {
  position: absolute;
  top: 10px;
  left: 4px;
}

.mobile-title-item-2 {
  margin-top: 42px;

  display: none;
  max-width: 396px;

  height: 100px;
  background-image: url(../assets/img/mobil-title-bg-test.png);

  border-radius: 8px;
}

.mobile-title-item-2 h1 {
  font-family: var(--font-russo);
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;

  color: red;
}

@media (max-width: 425px) {
  .mobile-title-item {
    display: flex;
    align-items: center;
  }

  .mobile-title-item-2 {
    display: flex;
    align-items: center;
  }
}

/* swiper  */
.swiper {
  width: 800px;
  height: 400px;
  padding: 50px;
}

@media (max-width: 425px) {
  .swiper {
    height: 200px;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-container {
  display: flex;
  justify-content: center;
}

/* swiper 2 */

.mySwiper2 {
  margin-left: 60px !important;
  margin-right: 60px !important;

  width: 1100px;
  height: 670px;
}

.swiper-wrapper2 {
  margin-left: -39px !important;
  margin-right: 42px !important;
}
