@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&family=Poppins:wght@600&family=Roboto:wght@400;500;700;900&family=Russo+One&display=swap');
@import url('./components/header.css');
@import url('./components/about-us.css');
@import url('./components/combat-path.css');
@import url('./components/quote.css');
@import url('./components/symbol.css');
@import url('./components/concept.css');
@import url('./components/fond.css');
@import url('./components/footer.css');
@import url('./components/logo-open.css');

:root {
  /* colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-liteGray: #c2c2c2;
  --color-midGray: #595959;
  --color-darkGray: #262626;
  --color-red: #df2e38;

  /* fonts */
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-russo: 'Russo One', sans-serif;
}

.main {
  background-color: var(--color-darkGray);
}

.container {
  max-width: 1280px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .container {
    padding: 0 10px;
  }
}

.center {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-25 {
  margin-top: 25px;
}

.backgraund {
  background: linear-gradient(
    94.71deg,
    rgba(38, 38, 38, 0.49) -40.88%,
    rgba(69, 54, 55, 0.43) 40.38%,
    rgba(107, 25, 30, 0.47) 97.08%
  );
  mix-blend-mode: difference;
}

/* title above section  */

.title-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconbg {
  mix-blend-mode: color-dodge;
  background-color: var(--color-darkGray);
}
.icon-row {
  position: relative;
  top: -30px;
  left: -111px;

  display: flex;
  align-items: center;
}

.title-item h1 {
  margin-left: 12px;

  font-family: var(--font-russo);
  font-weight: 400;
  font-size: 60px;
  line-height: 45px;
  color: var(--color-white);
}
