.about-us {
}

@media (max-width: 425px) {
  .about-us {
    padding: 10px;
  }
}

.about-us-content-row {
  max-width: 1057px;
  min-height: 310px;

  margin: 0 auto;
  padding-top: 62px;

  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 42px;
  flex-wrap: wrap;
}

@media (max-width: 425px) {
  .about-us-content-row {
    gap: 16px;
  }
}

.about-us-icon-row {
  top: 24px !important;
  left: -111px !important;
}

.about-us-title-item {
  max-width: 284px !important;
}

.mobile-about-us-title {
  display: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 25px;

  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: #ffffff;
}

.mobile-about-us-title h1 span {
  color: #ff3430;
}

@media (max-width: 425px) {
  .about-us-title-item {
    display: none !important;
  }

  .mobile-about-us-title {
    display: block;
  }
}

.about-us-title-text {
  position: relative;
  left: 18px;
  top: 21px;

  font-weight: 800;
  font-size: 16px;
  line-height: 25px;

  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: #ffffff;
}

.about-us-secondrow {
  padding-left: 0 !important;
  top: 2px !important;
  left: 5px !important;
}

.about-us-title-text span {
  color: #ff3430;
}

.about-us-text {
  max-width: 332px;
  min-height: 310px;

  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.629167px;
  color: var(--color-white);
}

@media (max-width: 425px) {
  .about-us-text {
    min-height: 244px;
  }
}

.about-us-slider {
  max-width: 1040px;
  min-height: 428px;

  margin: 0 auto;

  margin-top: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.about-us-imgcontainer {
  max-width: 862px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 11px;
  flex-wrap: wrap;
}

@media (max-width: 425px) {
  .button-arrow-left {
    display: none;
  }

  .button-arrow-right {
    display: none;
  }
}
