.about-us {
  min-height: 100vh;
}

@media (max-width: 425px) {
  .about-us {
    margin-left: 25px;
  }
}

.about-us-content-row {
  max-width: 1057px;
  min-height: 310px;

  margin: 0 auto;
  padding-top: 62px;

  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 42px;
  flex-wrap: wrap;
}

.about-us-title {
  position: relative;
  padding-top: 25px;

  width: 195px;
  height: 222px;
}

.about-us-iconbg {
  opacity: 0.05;
  mix-blend-mode: saturation;

  position: absolute;
  top: -3px;
  left: -101px;
}

.about-us-line {
  position: absolute;
  top: 19px;
  left: -12px;
}

.about-us-title h1 {
  font-family: var(--font-russo);
  font-weight: 400;
  font-size: 60px;
  line-height: 50px;
  color: var(--color-white);
}

.about-us-title h3 {
  margin-top: 22px;

  font-family: var(--font-inter);
  font-weight: 800;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--color-white);
}

.about-us-title span {
  color: #ff3430;
}

.about-us-text {
  max-width: 332px;
  min-height: 310px;

  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.629167px;
  color: var(--color-white);
}

.about-us-slider {
  max-width: 1040px;
  min-height: 428px;

  margin: 0 auto;

  margin-top: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.about-us-imgcontainer {
  max-width: 862px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 11px;
  flex-wrap: wrap;
}
