.concept {
  margin-top: 127px;
}

@media (max-width: 425px) {
  .concept {
    margin-top: 0;
  }
}

.concept-title-item {
  max-width: 555px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.concept-iconbg {
  mix-blend-mode: color-dodge;
  background-color: var(--color-darkGray);
}

.concept-icon-row {
  position: relative;
  top: -30px;
  left: -111px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.concept-title-item h1 {
  margin-left: 12px;

  font-family: var(--font-russo);
  font-weight: 400;
  font-size: 60px;
  line-height: 45px;
  color: var(--color-white);
}

.concept-title-secondrow {
  padding-left: 118px;

  position: relative;
  top: 20px;
}

@media (max-width: 680px) {
  .concept-icon-row {
    top: -30px;
    left: -170px;
  }

  .concept-title-secondrow {
    padding-left: 1px;
    top: -10px;
    left: 40px;
  }

  .concept-title-item h1 {
    font-weight: 500;
    font-size: 40px;
  }
}

.concept-content-row {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.concept-container-text {
  margin-top: 82px;
  margin-left: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 425px) {
  .concept-container-text {
    display: none;
  }
}

.concetp-text {
  max-width: 508px;

  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.concetp-text p {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  letter-spacing: 0.629167px;

  color: var(--color-white);
}

.concept-content-card {
  width: 260px;
  height: 592px;
}

.concept-content-icon-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.concept-content-card-text {
  padding: 10px;

  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: 0.629167px;

  color: #ffffff;
}

.swiper-concept {
  display: none;
}

@media (max-width: 425px) {
  .swiper-concept {
    display: block;
  }
}

.mySwiper3 {
  margin-top: 32px;
  height: 600px !important;
  width: 300px !important;
}

.swiper-wrapper3 {
  width: 300px;
}

.concept-content-target {
  position: relative;
  left: -30px;

  width: 55px;
  height: 55px;
}

.concept-content-arrow {
  position: relative;
  left: 25px;

  width: 48px;
  height: 24px;
}
