.fond {
  margin-top: 72px;
  padding-bottom: 72px;

  opacity: 0.4;
}

.fond-text {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 120px;
  margin: 0 auto;

  max-width: 719px;
  min-height: 192px;

  font-family: var(--font-russo);

  font-weight: 400;
  font-size: 40px;
  line-height: 60px;

  letter-spacing: 0.629167px;

  color: var(--color-white);
}

@media (max-width: 425px) {
  .fond-text {
    margin-top: 72px;
  }
}

.fond-triangle-1 {
  position: absolute;
  top: 1px;
  left: 1px;
}

.fond-triangle-2 {
  position: absolute;
  top: 1px;
  right: 1px;
  rotate: 90deg;
}

.fond-triangle-3 {
  position: absolute;
  bottom: 1px;
  right: 1px;
  rotate: 180deg;
}

.fond-triangle-4 {
  position: absolute;
  bottom: 1px;
  left: 1px;
  rotate: -90deg;
}
