.footer {
  background-color: #202020;
}

.footer-content-row {
  padding-top: 136px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-title-item {
  max-width: 562px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-iconbg {
  mix-blend-mode: color-dodge;
  background-color: var(--color-darkGray);
}

.footer-target {
  position: relative;
  left: -130px;
}

.footer-title-item h1 {
  margin-left: 12px;

  position: relative;
  left: -30px;
  top: 30px;

  font-family: var(--font-russo);
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;

  text-transform: uppercase;
  color: var(--color-white);
}

.regiment {
  position: relative;
  top: -28px;
  left: 98px;
}

@media (max-width: 680px) {
  .footer-title-item h1 {
    left: -34px;
  }

  .regiment {
    left: -48px;
  }
}

.footer-content-rightblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer-content-rightblock p {
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  letter-spacing: 0.629167px;
  text-transform: capitalize;

  color: var(--color-white);
}

.footer-arrowbottom {
  width: 22px;
  height: 22px;
}

.footer-icon {
  margin-top: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
